/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}



:root {
    --color1: #fffffc; /*blanco*/
    --color2: #001011; /*negro*/
    --color3: #757780; /*gris*/
    --color4: #6ccff6; /*azul*/
    --color5: #98ce00; /*verde*/
}



/*

:root {
    --color1: #c0dfa1; //verde
    --color2: #011936; //azul
    --color3: #465362; //azul-gris
    --color4: #82a3a1; //azul claro
    --color5: #9fc490; //verde os
}

*/

.a1 {
    background-color: lightseagreen;
    padding: 20px;
    margin-bottom: 20px;
}

.no-mobile {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: lightsteelblue;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#escribe1 {
    padding: 20px;
    width: 90%;
    background-color: rgba(247, 247, 247, 0.486);
    position: absolute;
    top: 60%;
    left: 5%;
}

#escribe2 {
    padding: 20px;
    width: 90%;
    background-color: rgba(247, 247, 247, 0.486);
    position: absolute;
    top: 75%;
    left: 5%;
}

.inside {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 100%;
    padding: 20px;
    background-color: lightsalmon;
    box-shadow: 10px 10px 10px white;
    transition: 1.1s ease-in-out;
}

#cie {
    position: absolute;
    top: 50%;
    right: 2%;
    cursor: pointer;
    transition: .4s ease-in-out;
}

#cie:hover {
    font-weight: bold;
    color: white;
}

.todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.juntos {
    width: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 10px 10px 2px white;
}

.primero {
    height: 25vh;
}

.segundo {
    height: 45vh;
}

.tercero {
    height: 35vh;
}

.cuarto {
    height: 40vh;
}

.quinto {
    height: 30vh;
}

.sexto {
    height: 35vh;
}

@media screen and(max-width: 574px) {
    .primero {
        height: 15vh;
    }
    
    .segundo {
        height: 35vh;
    }
    
    .tercero {
        height: 25vh;
    }
    
    .cuarto {
        height: 30vh;
    }
    
    .quinto {
        height: 20vh;
    }
    
    .sexto {
        height: 25vh;
    }

    .juntos {
        width: 26%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        box-shadow: 10px 10px 2px white;
    }
}

.completos {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0;
    transition: .7s ease-in-out;
}

.completos2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .7s ease-in-out;
}

#dos1 {
    background-color: cornflowerblue;
}

#dos2 {
    background-color: cornflowerblue;
}

#dos3 {
    background-color: cornflowerblue;
}

#dos4 {
    background-color: cornflowerblue;
}

#dos5 {
    background-color: cornflowerblue;
}

#dos6 {
    background-color: cornflowerblue;
}

.cerrarboton {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
